# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/
wwwroot/lib/

# User-specific files
*.rsuser
*.dbmdl
*.dbproj.schemaview

# Entity Framework
Migrations/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Node
node_modules/
package-lock.json

# Logs
logs/
*.log